# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        java: [21]
        os: [ubuntu-22.04]

    steps:
      - name: checkout gustavdev
        uses: actions/checkout@v4
        with:
          path: gustavdev

      - name: checkout owo-lib
        uses: actions/checkout@v4
        with:
          repository: GillesSchippers/owo-lib
          path: owo-lib

      - name: checkout accessories
        uses: actions/checkout@v4
        with:
          repository: GillesSchippers/accessories
          path: accessories

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: gradle

      - name: build gustavdev
        working-directory: gustavdev
        run: |
          chmod +x gradlew
          ./gradlew build --no-daemon

      - name: build owo-lib
        working-directory: owo-lib
        run: |
          chmod +x gradlew
          ./gradlew publishToMavenLocal --no-daemon

      - name: build accessories
        working-directory: accessories
        run: |
          chmod +x gradlew
          ./gradlew build --no-daemon

      - name: capture gustavdev artifacts
        if: runner.os == 'Linux' && matrix.java == '21'
        uses: actions/upload-artifact@v4
        with:
          name: gustavdev-artifacts
          path: gustavdev/build/libs/

      - name: capture owo-lib artifacts
        if: runner.os == 'Linux' && matrix.java == '21'
        uses: actions/upload-artifact@v4
        with:
          name: owo-lib-artifacts
          path: owo-lib/build/libs/

      - name: capture accessories artifacts
        if: runner.os == 'Linux' && matrix.java == '21'
        uses: actions/upload-artifact@v4
        with:
          name: accessories-artifacts
          path: accessories/fabric/build/libs/
